<div>
    <h2 class="mb-4">Einladung </h2>

    {% if error is defined %}
        <alert-error>{{ error|trans([], 'contao_default') }}</alert-error>
    {% endif %}

    {% if member is defined and host is defined %}
        <p class="mt-2 mb-4 text-sm leading-5 text-gray-600 dark:text-gray-200 max-w">
            Sie wurden von {{ member.firstname ~ ' ' ~ member.lastname }} eingeladen, an den Ferienpass-Angeboten
            von {{ host.name }} mitzuarbeiten.</p>
    {% endif %}

    {% if invitee_email is defined %}
        {% include '@FerienpassHostPortal/components/alert/info.html.twig' with {
            message: 'Diese Einladung wurde an '~ invitee_email~' geschickt.' } %}
    {% endif %}

    {% if form is defined %}
        {{ form(form) }}
    {% endif %}
</div>