<div class="rounded-md bg-red-50 p-4">
    <div class="flex">
        <div class="flex-shrink-0">
            <span class="block h-5 w-5 text-red-400">{{ source('@FerienpassHostPortal/icons/x-circle-solid.svg') }}</span>
        </div>
        <p class="ml-2 text-sm leading-5 text-red-700">{% block message %}{{ message }}{% endblock %}</p>
    </div>
</div>
