<a href="{{ uri }}" class="font-medium text-gray-500 text-sm hover:underline flex items-center">
    <span class="block h-5 w-5">{{ source('@FerienpassHostPortal/icons/chevron-left-solid.svg') }}</span>
    {{ 'MSC.backBT'|trans([], 'contao_default') }}
</a>
