{% set menu = knp_menu_get('host_primary_navigation') %}

<nav class="hidden lg:py-2 lg:flex lg:space-x-8" aria-label="Global">
    {% for item in menu.children|filter(v => v.isDisplayed) %}
        {% if item.current %}
            <strong aria-current="page"
                    class="rounded-md py-2 px-3 inline-flex items-center text-sm font-semibold text-gray-900 dark:text-white bg-gray-50 dark:bg-gray-800">
                {{ item.label }}
            </strong>
        {% else %}
            <a href="{{ item.uri }}"
               class="rounded-md py-2 px-3 inline-flex items-center text-sm font-medium text-gray-900 dark:text-white {% if item.extra('isTrail') %}bg-gray-50 dark:bg-gray-800 {% endif %}hover:bg-gray-100 dark:hover:bg-gray-800 hover:text-gray-900 dark:hover:text-white">
                {{ item.label }}
            </a>
        {% endif %}
    {% endfor %}
</nav>
